.header {
    position: fixed;
    left: 0;
    right: 0;
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    height: 70px;
    z-index: 1;
}

.header > section {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 2rem;
    margin: 0;
}

.header-button {
    margin: 0;
}

.padding-top {
    padding-top: 70px;
}

.flex {
    display: flex;
}

nav {
    flex: 1;
    border-right: .2rem solid #d1d1d1;
}

.content {
    flex: 4;
    margin-left: 2rem;
}

.layout {
    min-height: 500px;
    padding-top: 30px;
}

.notification {
    background-color: #9b4dca;
    text-align: center;
    color: white;
    padding: 1rem;
}